.venv/
__pycache__/
*.pyc
dados/brutos/*.csv
!dados/brutos/.gitkeep
dados/tratados/*.csv
!dados/tratados/.gitkeep
graficos/*.png
graficos/*.pdf
graficos/*.svg
!graficos/.gitkeep
.aux
.bbl
.bcf
.blg
.fdb_latexmk
.fls
.log
.lof
.lot
.out
.run.xml
.synctex.gz
.toc
.DS_Store
